
$small-letters: #edd35d;


// background color for body
$background-color: #663300;

// background color for buttons
$button-background: #734F02;


// background color for navbar, panels etc
$navbar-background-color: rgba(72, 51, 3, 0.9);


$h-color: #edd35d;
$h-color-shadow: 0px 0px 10px #f5ff00;

$box-shadow: 0px 0px 10px 5px rgba(186,113,35,0.75);
$box-shadow-dark: 0px 0px 5px 10px rgba(177, 121, 21, 0.71);

