.thumb-index{
  @media screen and (min-width: 768px) and (max-width: 992px) {
    height:350px;
  
  }
  position: relative;
}



/*.thumb-index{
  background-color: $background-color;
  box-shadow: $box-shadow-dark;
      p, h3 {
      color: $background-color;
    }
}*/
 
.thumb-index:hover{
  background-color: $h-color;
  box-shadow: $box-shadow-dark;
      p, h3 {
      color: $background-color;
    }
}

.thumbdarken{
  opacity: 0.5 !important;
  background-color: $background-color !important;
}
