#daysToWedding{
  border-style: solid;
  border-color: $h-color;
  margin-bottom: 5px;
  h1{
    text-align: center;
  }
}

.progress-bar{
  background-color: $background-color;
}

.jumbotron{
    background: #874902; /* Old browsers */
    /* IE9 SVG, needs conditional override of 'filter' to 'none' */
    background: url('/images/patrick.png') no-repeat left center, url('/images/maris.png') no-repeat right center;
    opacity: 1;
    color: $h-color;
    text-align: center;
    
    @media screen and  (max-width: 767px) {
      background: url('/images/wij.png') no-repeat left center;
    }

}



.thumb-index{
  @media screen and (min-width: 768px) and (max-width: 992px) {
    height:350px;
  }
  position: relative;
}



/*.thumb-index{
  background-color: $background-color;
  box-shadow: $box-shadow-dark;
      p, h3 {
      color: $background-color;
    }
}*/
 
.thumb-index:hover{
  background-color: $background-color;
  box-shadow: $box-shadow-dark;
      p, h3 {
      color: $h-color;
    }
}

// .thumbdarken{
//   opacity: 0.5 !important;
//   background-color: $background-color !important;
// }
