<div class="container">
	<div class="page-header">
		<img src='/images/dresscode-small.png' align='left'><h1>Dresscode</h1>
	</div>
</div>

<div class="container info">
	<h1>Gekleed</h1>
	<h4>Onze keuze voor de dresscode is: "gekleed". </h4>
	<h4>Wij waarderen dat onze gasten hun best doen er goed uit te zien. De mannen in pak en de vrouwen in mooie stijlvolle, elegante of sexy jurk of rok bijvoorbeeld.</h4>
	<h4>Uiteraard kijk je wat je in de kast hebt hangen en verwachten we niet dat je speciaal voor onze bruiloft iets nieuws aanschaft. Dit mag uiteraard wel ;)</h4>
	<h4>Om toch wat handvaten zou je kunnen zoeken op de dresscodes: Tenue de Ville, Cocktail, Casino of Gala.</h4>
	<h4>Het makkelijkst is misschien voor te stellen wat je aan zou doen naar een goed restaurant, een avondje stappen in een hippe club of wanneer je zou meespelen in de volgende James Bond film.</h4>
	<h4>Er is geen kleur waar rekening mee rekening gehouden hoeft te worden.</h4>
</div>