<div class="container">
	<div class="page-header">
		<img src='/images/camera-small.png' align='left'><h1>Fotos</h1>
	</div>
</div>

<div class="container info">
	<h1>Neem je camera mee</h1>
	<h4>We zouden het leuk vinden als onze gasten tijdens de bruiloft zelf fotos willen maken.</h4>
	<h4>Er loopt een fotograaf rond voor de officiele fotos, maar onze ervaring is dat er ook hele leuke en spontane fotos komen als iedereen zelf wat fotos gaat schieten.</h4>
	<h4>Daarbij is de fotograaf ook een van de genodigden. Het is dus wel zo leuk als hij ook lekker kan dansen, bijpraten, drankje drinken etc.</h4>
	<h4>Er zijn vast gasten die fotograferen als hobby hebben. Zo ja, neem je camera mee. Vind je het niet fijn met een camera rond te lopen, gebruik dan je telefoon.</h4>
	<h4>Wij zorgen voor een plekje waar alle fotos geplaatst kunnen worden.</h4>
	<h4>Wij begrijpen dat dit veel fotos kan opleveren. Aan ons dan de taak de leukste eruit te halen en er iets moois mee te doen.</h4>
</div>