<div class="container">
	<div class="page-header info">
		<img src='/images/music-small.png' align="left"><h1>Muziek</h1>
	</div>
</div>

<div class="container info">
	<h1>Jaren 80 tot nu</h1>
	<h4>Wij hebben gekozen voor een DJ in plaats van een band.</h4>
	<h4>De ceremonie zal plaats vinden in dezelfde zaal als ons feest. Dit zal inhouden dat na de ceremonie de stoelen en andere zaken die voor de ceremonie zijn gebruikt, zullen worden verwijderd.</h4>
	<h4>In deze tijd zullen wij met de directe familie ons even terug trekken om snel daarna te beginnen met het feest.</h4>
	<h4>Het feest zal worden gestart door een zeer speciale DJ die zijn sporen in het vak heeft verdiend, en ook op deze dag zijn verjaardag viert.</h4>
	<h4>Het stokje zal daarna worden overgenomen door Olaf Matheze. Een zeer ervaren DJ waarvan we het volste vertrouwen hebben dat hij ook bij ons een groot feest zal gaan bouwen.</h4>
	<h4>De muziek zal bestaan uit bekende nummers van de jaren 80 tot de laatste hits.</h4>
	<h4>Om 24.00 precies zal de muziek uitgaan en het feest ten einde zijn. Dit heeft te maken met de ligging van de Zwarte Boer en afspraken die zij hebben gemaakt met hun omgeving. De muziek zal om deze reden ook daadwerkelijk om 24.00u uit zijn en zullen we geen uitloop hebben.</h4>

</div>