<div class="container">
	<div class="page-header">
		<img src='/images/clock-small.png' align='left'><h1>Programma</h1>
	</div>
</div>

<div class="container info">
	<div class="col-md-12">
		<h3>19.00u Ontvangst Zwarte Boer</h3>
		<h4>Vanaf 19.00u ben je welkom in de Zwarte Boer en zal er gelegenheid zijn een kopje koffie te drinken.</h4>
		<h3>19.30u Start Ceremonie</h3>
		<h4>Rond half acht zal de ceremonie van start gaan. Dit zal gebeuren in dezelfde ruimte waar later het feest is.</h4>
		<h3>+/- 20.00u Start feest</h3>
		<h4>Na de ceremonie zal het feest van start gaan. Omdat dit in dezelfde ruimte is dan de ceremonie zal er een momentje zijn dat het personeel van de ruimte "feestklaar" zal gaan maken. Deze tijd zal de familie en getuigen nemen om zich even terug te trekken. kort hierna komen we terug en zal het feest officieel van start gaan.</h4>
		<h3>24.00u Einde feest</h3>
		<h4>De Zwarte Boer ligt midden in het bos. Er zal een kleine tent aan de feestruimte gekoppeld zijn. Hierom zullen de deuren open zijn en draagt het geluid ver. Dit is de reden dat om 24.00u de muziek stipt zal stoppen en het feest ten einde zal zijn.</h4>
	</div>
</div>