<div class="container">
	<div class="page-header info">
		<img src='/images/vakantie-small.png' align="left"><h1>Vakantie</h1>
	</div>
</div>

<div class="container info">
	<h1>Hier zullen we nog iets neerzetten over onze huwelijksreis</h1>
<!-- 	<h4>Wat wij het liefst ontvangen is een gevulde enveloppe. En voor de grapjassen onder ons, hiermee bedoelen we gevuld met geld.</h4>
	<h4>Mogelijk kunnen we hier nog iets leuks mee doen op vakantie of waarschijnlijker, gebruiken om de rekening te betalen.</h4> -->

</div>