<div class="container">
	<div class="page-header">
		<h1>Ceremoniemeesters</h1>
	</div>
	<div class="col-md-6">
		<div class="panel panel-default">
		  <div class="panel-heading">
		    <h3 class="panel-title">Thijs Smit</h3>
		  </div>
		  <div class="panel-body">
		  	<div class="table-responsive">
			    <table class="table">
			    	<td>Telefoon</td>
			    	<td>0624724792</td>
			    	<tr>
			    		<td>Email</td>
			    		<td>bruiloftpatenmaris@gmail.com</td>
			    	</tr>
			    </table>
			</div>
		  </div>
		</div>
	</div>
	<div class="col-md-6">
		<div class="panel panel-default">
		  <div class="panel-heading">
		    <h3 class="panel-title">Ria Braham</h3>
		  </div>
		  <div class="panel-body">
		  	<div class="table-responsive">
			    <table class="table">
			    	<tr>
			    		<td>Telefoon</td>
			    		<td>0622695052</td>
			    	</tr>
			    	<tr>
			    		<td>Email</td>
			    		<td>bruiloftpatenmaris@gmail.com</td>
			    	</tr>
			    </table>
			</div>
		  </div>
		</div>
	</div>

</div>

<!-- google anayltics -->
<div class="container" ng-include src="'templates/analytics.html'"></div>