<div class="container">
	<div class="page-header">
		<h1>Ceremoniemeesters</h1>
	</div>
	<div class="col-md-6 ceremoniemeester">
		<h2>Thijs Smit</h2><br>
		<h4>Telefoon:</h4>
		<h4>0624724792</h4><br>
		<h4>Email:</h4>
		<div class="email">
			<h4><a href="mailto:bruiloftpatenmaris@gmail.com?Subject=Bruiloft" target="_top">bruiloftpatenmaris@gmail.com</a></h4>
		</div>
	</div>
	<div class="col-md-6 ceremoniemeester">
		<h2>Ria Braham</h2><br>
		<h4>Telefoon:</h4>
		<h4>0622695052</h4><br>
		<h4>Email:</h4>
		<div class="email">
			<h4><a href="mailto:bruiloftpatenmaris@gmail.com?Subject=Bruiloft" target="_top">bruiloftpatenmaris@gmail.com</a></h4>
		</div>
	</div>
</div>

<!-- google anayltics -->
<div class="container" ng-include src="'templates/analytics.html'"></div>