<div class="container">
	<div class="page-header">
		<h1>Ceremoniemeesters</h1>
	</div>
	<div class="col-md-6">
		<div class="panel panel-default ceremoniemeesters-panel">
		  <div class="panel-heading">
		    <h3 class="panel-title">Thijs Smit</h3>
		  </div>
		  <div class="panel-body">
		  <h4><b>Telefoon:</b> 0624724792</h4>
		  <h4><b>Email:</b> bruiloftpatenmaris@gmail.com<h4>
			
		  </div>
		</div>
	</div>
	<div class="col-md-6">
		<div class="panel panel-default ceremoniemeesters-panel">
		  <div class="panel-heading">
		    <h3 class="panel-title">Ria Braham</h3>
		  </div>
		  <div class="panel-body">
		    <h4><b>Telefoon:</b> 0622695052</h4>
		    <h4><b>Email: </b> bruiloftpatenmaris@gmail.com</h4>
		  </div>
		</div>
	</div>

</div>

<!-- google anayltics -->
<div class="container" ng-include src="'templates/analytics.html'"></div>