<div class="tabcontroller" ng-controller="TabController as tab">


<div class="container">
	<div class="jumbotron">
		<h1>Welkom</h1>
		<h2>Op de bruiloft site van Patrick en Mariska</h2>
		<p>Hier zal de komende tijd meer informatie worden toegevoegd</p>
	</div>
</div>



<!--Test met images-->
<div class="container" ng-controller="ThumbController as thumb">
<!-- <h1>thumb{{thumb.isSet(3)}}</h1> -->
	<div class="row">
		<div class="col-xs-12 col-sm-6 col-md-3">
			<div class="thumbnail thumb-index" ng-click="tab.setTab('location')" ng-mouseover="thumb.setThumb(1)" ng-mouseleave="thumb.setThumb(0)" ng-class="{thumbdarken: ( thumb.isSet(2) || thumb.isSet(3) || thumb.isSet(4) )}">
			<img src='/images/zwarteboer-klein.jpg' alt="...">
				<div class="caption">
					<h3>De Zwarte Boer</h3>
					<p>In het pittoreske Leuvenum ligt midden in de bossen het kleinste 4 sterren hotel van Nederland.</p>
					<div class='text-center'>
					<p><a class="thumb-link" href="#/locatie" class="btn btn-primary" role="button" btn-pull-right>Meer info</a></p>
					</div>
				</div>
			</div>
		</div>
<!-- 		<div class="col-xs-12 col-sm-6 col-md-3">
			<div class="thumbnail thumb-index" ng-click="tab.setTab('fotos')" ng-mouseover="thumb.setThumb(2)" ng-mouseleave="thumb.setThumb(0)" ng-class="{thumbdarken: ( thumb.isSet(1) || thumb.isSet(3) || thumb.isSet(4) )}">
			<img src="/images/fototoestel.jpg" alt="...">
				<div class="caption">
					<h3>Foto's</h3>
					<p>We zouden het leuk vinden als zoveel mogelijk mensen fotos maken. Neem je camera dus mee!</p>
					<div class='text-center'>
					<p><a class="thumb-link" href="#/fotos">Meer info</a></p>
					</div>
				</div>
			</div>
		</div> -->
		<div class="col-xs-12 col-sm-6 col-md-3">
			<div class="thumbnail thumb-index" ng-click="tab.setTab('fotos')" ng-mouseover="thumb.setThumb(2)" ng-mouseleave="thumb.setThumb(0)" ng-class="{thumbdarken: ( thumb.isSet(1) || thumb.isSet(3) || thumb.isSet(4) )}">
			<img src="/images/button_info.png" alt="...">
				<div class="caption">
					<h3>Info</h3>
					<p>Hier komt belangrijke info over onze dag te staan. Maar is nu nog even work in progress.</p>
					<div class='text-center'>
					<p><a class="thumb-link" href="#/fotos">Meer info</a></p>
					</div>
				</div>
			</div>
		</div>
		<div class="col-xs-12 col-sm-6 col-md-3">
			<div class="thumbnail thumb-index" ng-click="tab.setTab('kados')" ng-mouseover="thumb.setThumb(3)" ng-mouseleave="thumb.setThumb(0)" ng-class="{thumbdarken: ( thumb.isSet(1) || thumb.isSet(2) || thumb.isSet(4) )}">
			<img src="/images/kados.jpg" alt="...">
				<div class="caption">
					<h3>Kado Tips</h3>
					<p>Wat willen we echt graag hebben. Kijk hier voor een lijstje van zaken die we graag ontvangen.</p>
					<div class='text-center'>
					<p><a href="#/kadotips" class="thumb-link">Meer info</a></p>
					</div>
				</div>
			</div>
		</div>
		<div class="col-xs-12 col-sm-6 col-md-3">
			<div class="thumbnail thumb-index" ng-click="tab.setTab('overnachten')" ng-mouseover="thumb.setThumb(4)" ng-mouseleave="thumb.setThumb(0)" ng-class="{thumbdarken: ( thumb.isSet(1) || thumb.isSet(2) || thumb.isSet(3) )}">
			<img src="/images/hotel.jpg" alt="...">
				<div class="caption">
					<h3>Overnachten</h3>
					<p>Leuvenum is niet voor iedereen naast de deur. Hier enkele tips voor wie wil overnachten.</p>
					<div class='text-center'>
					<p><a href="#/overnachten" class="thumb-link">Meer info</a></p>
					</div>
				</div>
			</div> 
		</div>
	</div>
</div>

<!-- google anayltics -->
<div class="container" ng-include src="'templates/analytics.html'"></div>