

<!-- <div class="container text-center">
	<img src="/images/spreuk.png" class="img-responsive" align="center">
</div>
 -->
<div class="container spreuk text-center">
	<h1>Alles wordt kleiner als je het deelt, behalve de liefde</h1>
</div>


<div class="container">
	<div class="row">
		<div class="col-xs-12 col-sm-6 col-md-3">
			<div class="thumbnail thumb-index" ng-click="tab.setTab('location')" ng-mouseover="thumb.setThumb(1)" ng-mouseleave="thumb.setThumb(0)" ng-class="{thumbdarken: ( thumb.isSet(2) || thumb.isSet(3) || thumb.isSet(4) )}">
			<img src='/images/dresscode.png' alt="...">
				<div class="caption">
					<h3>Dresscode Netjes</h3>
					<p>Dresscodes zijn lastig en vaak lastig te interpreteren. Ondanks dat er vele formele dress codes zijn, hebben we toch maar een nieuwe bedacht. "Netjes". Hiermee bedoelen wij dat je in je kast kijkt en er er iets moois uitpakt. Voor mannen wordt een kostuum gewaardeerd. Vrouwen hebben het makkelijk, een elegant jurkje, rok en er iets leuks op, mantalpak of nette broek met iets erop, allemaal prima. Interpreteer netjes op eigen wijze. Als je op google even wat stijlen wilt zoeken zijn de volgende dresscodes iets om even naar te kijken: Gala, Casino, Smart Casual, Las Vegas. Wij hebben niet een kleur of iets dergelijks dus daar hoef je geen rekening mee te houden.</p>
					<div class='text-center'>
					<p><a class="thumb-link" href="#/locatie" class="btn btn-primary" role="button" btn-pull-right>Meer info</a></p>
					</div>
				</div>
			</div>
		</div>
		<div class="col-xs-12 col-sm-6 col-md-3">
			<div class="thumbnail thumb-index" ng-click="tab.setTab('fotos')" ng-mouseover="thumb.setThumb(2)" ng-mouseleave="thumb.setThumb(0)" ng-class="{thumbdarken: ( thumb.isSet(1) || thumb.isSet(3) || thumb.isSet(4) )}">
			<img src="/images/info.png" alt="...">
				<div class="caption">
					<h3>Muziek</h3>
					<p>De muziek op onze avond wordt grotendeels verzorgd door DE bruilofts DJ uit Leek. De muziek zal bestaan uit bekende nummers van de jaren 80 t/m nu. De opening zal worden verzorgd door een zeer speciale DJ die op deze dag ook nog eens jarig is.</p>
					<div class='text-center'>
					<p><a class="thumb-link" href="#/fotos">Meer info</a></p>
					</div>
				</div>
			</div>
		</div>
		<div class="col-xs-12 col-sm-6 col-md-3">
			<div class="thumbnail thumb-index" ng-click="tab.setTab('kados')" ng-mouseover="thumb.setThumb(3)" ng-mouseleave="thumb.setThumb(0)" ng-class="{thumbdarken: ( thumb.isSet(1) || thumb.isSet(2) || thumb.isSet(4) )}">
			<img src="/images/present.png" alt="...">
				<div class="caption">
					<h3>Kado Tips</h3>
					<p>Wat willen we echt graag hebben. Kijk hier voor een lijstje van zaken die we graag ontvangen.</p>
					<div class='text-center'>
					<p><a href="#/kadotips" class="thumb-link">Meer info</a></p>
					</div>
				</div>
			</div>
		</div>
		<div class="col-xs-12 col-sm-6 col-md-3">
			<div class="thumbnail thumb-index" ng-click="tab.setTab('overnachten')" ng-mouseover="thumb.setThumb(4)" ng-mouseleave="thumb.setThumb(0)" ng-class="{thumbdarken: ( thumb.isSet(1) || thumb.isSet(2) || thumb.isSet(3) )}">
			<img src="/images/hotel.png" alt="...">
				<div class="caption">
					<h3>Overnachten</h3>
					<p>Leuvenum is niet voor iedereen naast de deur. Hier enkele tips voor wie wil overnachten.</p>
					<div class='text-center'>
					<p><a href="#/overnachten" class="thumb-link">Meer info</a></p>
					</div>
				</div>
			</div> 
		</div>
</div>



<!-- google anayltics -->
<div class="container" ng-include src="'templates/analytics.html'"></div>
