<script src="js/test.js"></script>

<!-- spreuk -->
<div class="container spreuk text-center">
	<h1>Alles wordt kleiner als je het deelt, behalve de liefde</h1>
</div>

<div class="container spreuk text-center">
	<h3>Klik op 1 van de iconen voor meer informatie.</h3>
</div>

<div class="container">
	<div class="row">
		<div class="col-xs-12 col-sm-6 col-md-4">
			<div class="thumbnail thumb-index" >
			<img src='/images/clock.png' alt="...">
				<div class="caption">
					<h3>Programma</h3>
					<div class='text-center'>
						<a class="thumb-link" href="#/programma">Meer info</a>
					</div>
				</div>
			</div>
		</div>
		<div class="col-xs-12 col-sm-6 col-md-4">
			<div class="thumbnail thumb-index" >
			<img src='/images/money.png' alt="...">
				<div class="caption">
					<h3>Kadotip</h3>
					<div class='text-center'>
						<a class="thumb-link" href="#/kadotip">Meer info</a>
					</div>
				</div>
			</div>
		</div>
		<div class="col-xs-12 col-sm-6 col-md-4">
			<div class="thumbnail thumb-index" >
			<img src='/images/dresscode.png' alt="...">
				<div class="caption">
					<h3>Dresscode</h3>
					<div class='text-center'>
						<a class="thumb-link" href="#/dresscode">Meer info</a>
					</div>
				</div>
			</div>
		</div>
		<div class="col-xs-12 col-sm-6 col-md-4">
			<div class="thumbnail thumb-index" >
			<img src='/images/music.png' alt="...">
				<div class="caption">
					<h3>Muziek</h3>
					<div class='text-center'>
						<a class="thumb-link" href="#/music">Meer info</a>
					</div>
				</div>
			</div>
		</div>
		<div class="col-xs-12 col-sm-6 col-md-4">
			<div class="thumbnail thumb-index" >
			<img src='/images/vakantie.png' alt="...">
				<div class="caption">
					<h3>Vakantie</h3>
					<div class='text-center'>
						<a class="thumb-link" href="#/vakantie">Meer info</a>
					</div>
				</div>
			</div>
		</div>
		<div class="col-xs-12 col-sm-6 col-md-4">
			<div class="thumbnail thumb-index" >
			<img src='/images/camera.png' alt="...">
				<div class="caption">
					<h3>Foto's</h3>
					<div class='text-center'>
						<a class="thumb-link" href="#/fotos">Meer info</a>
					</div>
				</div>
			</div>
		</div>
		<div class="col-xs-12 col-sm-6 col-md-4">
			<div class="thumbnail thumb-index" >
			<img src='/images/speech.png' alt="...">
				<div class="caption">
					<h3>Speeches of andere dingen</h3>
					<div class='text-center'>
						<a class="thumb-link" href="#/speech">Meer info</a>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
