
<div class="container">
  <div class="row">
  	<div class='col-md-6'>
	  	<div class='thumbnail'>
	  		<img src='/images/dezwarteboer.jpg' >
			<h3>Boutique Hotel-Restaurant De Zwarte Boer</h3>
			<p>Het decor van onze bruiloft is een van de kleinste 4 sterren hotels van Nederland.</p>
			<p>De geschiedenis van De Zwarte Boer gaat terug tot het jaar 1600. Gelegen aan de oude Hessenwegen heeft De Zwarte Boer zich reeds 408 jaar mogen verheugen op het verwelkomen van koetsiers van diligences en handelsreizigers. Nu verwelkomen wij jullie!</p>
			<p>Bij binnenkomst proeft u direct de roemrijke geschiedenis. De oude togen, antieke kroonluchters, haard, kasten, spanten -en vloeren doen u 400 jaar terug gaan in de tijd.</p>
			<p>De Zwarte Boer is gelegen op het schitterende Landgoed Leuvenum. De prachtige natuur nodigt uit tot wandelen en fietsen. Onze restaurants bieden voor iedere gelegenheid de juiste mogelijkheden.</p>
		</div>
	</div>
	<div class='col-md-6'>
		<div class='thumbnail'>
			<div class="page-header">
				<h3>Routebeschrijving naar De Zwarte Boer</h3>
			</div>
			<div class="Flexible-container">
				<!-- Responsive iFrame voor Google Maps-->
			    <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d78032.59034915632!2d5.688825469652762!3d52.32474013213571!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47c7cb510f7e0deb%3A0x8bc9f63203efa036!2sDe+Zwarte+Boer!5e0!3m2!1snl!2snl!4v1399327091331" width="600" height="450" frameborder="0" style="border:0"></iframe>
	    	</div>
	    </div>
	</div>
  </div>
</div>

<!-- google anayltics -->
<div class="container" ng-include src="'templates/analytics.html'"></div>