<div class="navbar navbar-default navbar-fixed-top">
  <div class="container" ng-controller="collapseController">
    <a ng-click="tab.setTab('home')" href="#" class="navbar-brand">De Bruiloft</a>
    <button class="navbar-toggle" data-toggle="collapse" data-target=".navHeaderCollapse">
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
    <div class="collapse navbar-collapse navHeaderCollapse">
      <ul class="nav navbar-nav navbar-right">
        <li ng-class="{ active:tab.isSet('home') }">
          <a ng-click="tab.setTab('home')" href="#">Home</a>
        </li>
<!--         <li ng-class="{ active:tab.isSet('programma') }">
          <a ng-click="tab.setTab('programma')" href="#/programma">Programma</a>
        </li> -->
        <li ng-class="{ active:tab.isSet('info') }">
          <a ng-click="tab.setTab('info')" href="#/info">Info</a>
        </li>
        <li ng-class="{ active:tab.isSet('location') }">
          <a ng-click="tab.setTab('location')" href="#/locatie">Locatie</a>
        </li>
        <li ng-class="{ active:tab.isSet('ceremony') }">
          <a ng-click="tab.setTab('ceremony')" href="#/ceremoniemeesters">Ceremoniemeesters</a>
        </li>
        <li ng-class="{ active:tab.isSet('programma') }">
          <a ng-click="tab.setTab('programma')" href="#/programma">Programma</a>
        </li>
        <li ng-class="{ active:tab.isSet('overnachten') }">
          <a ng-click="tab.setTab('overnachten')" href="#/overnachten">Overnachten</a>
        </li>
<!--         <li ng-class="{ active:tab.isSet('guests') }">
          <a ng-click="tab.setTab('guests')" href="#gasten">Gasten</a>     
        </li> -->
<!--         <li class="dropdown">
          <a class="dropdown-toggle" ng-class="{ active:tab.isSet('toggle') }" ng-click="tab.setTab('toggle')" data-toggle="dropdown">Gast informatie<b class="caret"></b></a>
          <ul class="dropdown-menu"> -->
            
<!--             <li><a href="#/kadotips">Kado tips</a></li> -->
            
<!--           </ul>
        </li> -->
      </ul>
    </div>
  </div>
</div>