
<div class="container">
	<div class="page-header">
		<h1>Overnachten</h1>
	</div>
</div>

<div class="container">
	<div class="row">
		<div class="col-sm-12 col-md-6">
			<div class="thumbnail thumb-overnachten">
			<img src="../images/heerlijkheid.jpg" alt="...">
				<div class="caption">
					<h3>Heerlickheijd van Ermelo</h3>
					<p>Een 4-sterren hotel van de Golden Tulip groep. Het ligt op de Veluwe, aan de rand van het historische dorp Ermelo. De Heerlickheijd ligt op 10 minuten afstand van de Zwarte Boer. Het hotel heeft 127 kamers en suites. En beschikt over een wellnesscentre. Alles met alles, een aanrader.</p>
					<div class='text-center'>
						<p><a href="http://www.goldentulipheerlickheijdvanermelo.com/nl" target="_blank" class="thumb-link">Ga naar de website van dit hotel</a></p>
					</div>
				</div>
			</div>
		</div>
		<div class="col-sm-12 col-md-6">
			<div class="thumbnail thumb-overnachten">
			<img src="../images/vandervalk.jpg" alt="...">
				<div class="caption">
					<h3>Van der Valk Harderwijk</h3>
					<p>Hotel Harderwijk op de Veluwe ligt ook op de Veluwe. Theoretisch kun je de omgeving ontdekken per fiets of te voet. <i>Trappend en dwalend door de bossen, langs heidevelden, vennetjes en stuwwallen ontdek je de grootse natuur, maar valt je oog ook op ieder detail.</i>Aldus de website van het hotel. Gewoon lekker uitslapen na de bruiloft en even rustig ontbijten kan natuurlijk ook.</p>
					<div class='text-center'>
						<p><a href="http://www.hotelharderwijk.com/nl/" target="_blank" class="thumb-link">Ga naar de website van dit hotel</a></p>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<!-- google anayltics -->
<div class="container" ng-include src="'templates/analytics.html'"></div>